:root {
    --header-font-size: 28px;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
hr  {
    width: 500px;
}
h1 {
    font-size: var(--header-font-size);
    margin: auto;
}
#errors {
    font-size: var(--header-font-size);
    color: red;
    margin: auto;
    padding-bottom: 5px;
}

#board  {
    height: 450px;
    width: 450px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}
.tile   {
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.tile:active    {
    background: gray;
    font-weight: bold;
    font-size: 21px;
    border: 1px solid black;
}
.tile-start {
    background-color: whitesmoke;
    cursor: default;
}
.tile-selected  {
    background-color: gray;
    border: 1px solid black;
}

#digits {
    height: 50px;
    width: 450px;

    margin: 0 auto;
    gap: 2px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.number {
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.number:active  {
    background: gray;
    font-weight: bold;
    font-size: 21px;
}

.number-selected    {
    background-color:  gray;
}

.horizontal-line    {
    border-bottom: 1px solid black !important;
}

.vertical-line  {
    border-right: 1px solid black !important;
}

.hint-popup {
    position: absolute;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
}

.hint-popup::after {
    content: "";
    position: absolute;

    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);

    border-width: 6px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}



#reset  {
    width: 140px;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
#reset:active   {
    background: red;
    color: white;
    font-weight: bold;
}
    #easy  {
        width: 140px;
        position: fixed;
        top: 54px;
        left: 10px;
        padding: 8px 12px;
        font-size: 16px;
        border-radius: 6px;
        cursor: pointer;
    }
    #easy:active  {
        color: white;
        background-color: limegreen;
        font-weight: bold;
    }
    .easy-clicked  {
        background-color: limegreen;
        color: white;
    }
    #medium  {
        width: 140px;
        position: fixed;
        top: 98px;
        left: 10px;
        padding: 8px 12px;
        font-size: 16px;
        border-radius: 6px;
        cursor: pointer;
    }
    #medium:active  {
        color: white;
        background-color: blue;
        font-weight: bold;
    }
    .medium-clicked  {
        background-color: blue;
        color: white;
    }
    #hard  {
        width: 140px;
        position: fixed;
        top: 142px;
        left: 10px;
        padding: 8px 12px;
        font-size: 16px;
        border-radius: 6px;
        cursor: pointer;
    }
    #hard:active  {
        background-color: red;
        color: white;
        font-weight: bold;
    }
    .hard-clicked  {
        background-color: red;
        color: white;
    }
    #veryHard  {
        width: 140px;
        position: fixed;
        top: 186px;
        left: 10px;
        padding: 8px 12px;
        font-size: 16px;
        border-radius: 6px;
        cursor: pointer;
    }
    #veryHard:active  {
        background-color: black;
        color: white;
        font-weight: bold;
    }
    .veryHard-clicked  {
        background-color: black;
        color: white;
    }
#hint   {
    width: 140px;
    position: fixed;
    top: 230px;
    left: 10px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
#hint:active    {
    background: lightskyblue;
    color: white;
    font-weight: bold;
}
.tile-hint    {
    background-color: lightskyblue;
    border: 1px solid blue;
}
#solve   {
    width: 140px;
    position: fixed;
    top: 274px;
    left: 10px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
#solve:active    {
    background: pink;
    color: white;
    font-weight: bold;
}
.tile-solve    {
    background-color: pink;
    border: 1px solid lightpink;
}
@media (max-width: 750px) {
    head, h1, h2, hr {
        width: 85vw;
    }
    #errors {
        padding-bottom: 15px;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #board {
        width: 85vw;
        max-width: 450px;
        height: auto;
        aspect-ratio:1/1;
        justify-content: center;
    }

    #digits {
        width: 85vw;
        max-width: 450px;
        gap: 2px;
        justify-content: center;
        padding-bottom: 15px;
        aspect-ratio: 9/1;
    }
    #button-container   {
        width:95vw;
        vertical-align: middle;
        line-height: normal;
        display: flex;
        gap: 1vw;
    }
    #reset, #easy, #medium, #hard, #veryHard, #hint, #solve {
        width: 13vw;
        height: 60px;
        position:static;
        align-items: center;
        justify-items: center;
        text-align: center;
        padding: 0 0 0 0;
        font-size: 11px;
    }
}